<% include header.ejs %>
  <div class="article-v1">
    <div class="col-md-12">
      <div class="panel">
        <div class="pull-right article-v1-time">
          <em> October 1st 2029 - 20:01 Pm</em>
        </div>
        <div class="panel-body">
          <div class="col-md-12 text-center article-v1-title">
            <h2>Lorem ipsum dolor sit amet</h2>
          </div>
          <div class="col-md-12  article-v1-body">
            <p>&nbsp; Lorem ipsum dolor sit amet, id veri scriptorem mei, in pri meliore incorrupte, at repudiandae vituperatoribus
              duo. Et cum commune qualisque, aperiam voluptua voluptatum mei ad. Eripuit explicari laboramus mel no, vix
              et causae omnesque, nibh tempor perfecto vis at. Ne quis denique copiosae est, sit et volumus abhorreant dissentiet,
              malorum inermis intellegebat mea an. Tempor iisque sit ne.
            </p>
          </div>
          <div class="col-md-12 article-v1-footer">
            <div class="col-md-12 aritcle-v1-writter">
              <% userBlogData.forEach(function(userBlog){ %>
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img src="/uploads/<%=userBlog.blog_img;%>" class="media-object card-v10-avatar">
                    </a>
                  </div>
                  <div class="media-body">

                    <p>
                      <%=userBlog.blog_content;%>
                    </p>
                    <span>
                      <a href="#">
                        <%=userBlog.first_name.substring(10,0).charAt(0).toUpperCase().charAt(0).toUpperCase() + userBlog.first_name.substring(10,0).slice(1).toLowerCase();
                        %>
                      </a>
                    </span>
                    <span>
                      <i class="fa fa-thumbs-o-up fa-2x"></i> &nbsp; 27711 &nbsp;&nbsp;
                      <i class="fa fa-retweet fa-2x"></i> &nbsp; 27711
                      <img src="/uploads/<%=userBlog.user_img;%>" class="img-circle" alt="user name" width="100" height="50">
                    </span>
                  </div>
                </div>
                <% }); %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer.ejs %>