<!-- start: Javascript -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- plugins -->
<!-- custom -->
<script src="/js/main.js"></script>
<!-- end: Javascript -->
</body>

</html>