<% include header.ejs %>
<form class="form-signin">
  <div class="panel periodic-login">
    <span class="atomic-number">Test</span>
    <div class="panel-body text-center">
      <h1 class="atomic-symbol">Mi</h1>
      <p class="atomic-mass">14.072110</p>
      <p class="element-name">Miminium</p>

      <i class="icons icon-arrow-down"></i>
      <div class="form-group form-animate-text" style="margin-top:40px !important;">
        <input type="text" class="form-text" required>
        <span class="bar"></span>
        <label>Email</label>
        <p>Input your email to reset your password</p>
      </div>

      <input type="submit" class="btn col-md-12" value="Reset" />
    </div>
    <div class="text-center" style="padding:5px;">
      <a href="login.html">SignIn</a> |
      <a href="reg.html">Signup</a>
    </div>
  </div>
</form>
<% include footer.ejs %>