<% include header.ejs %>
  <div class="form-signin">
    <div class="panel periodic-login">
      <div class="panel-body text-center">
        <h1 class="atomic-symbol">
          <i class="fa fa-coffee" aria-hidden="true"></i>
        </h1>
      </div>
      <div class="text-center" style="padding:5px;">
        <a href="/login">Login</a>
      </div>
      <div class="text-center" style="padding:5px;">
        <a href="/registration">SignUp</a>
      </div>
    </div>
  </div>
  <% include footer.ejs %>